.article__view--container {
    position: relative;
    width: 50%;
    margin: auto;
    padding-top: 20px;
    text-align: center;
}

.article__view--title {
    position: relative;;
    font-size: 30px;
    text-align: center;
    color: rgb(233, 233, 233);
    border-bottom: 4px solid #f39c12;
    display: inline;
}

.article__view--subtitle {
    font-size: 26px;
    text-align: center;
    color: rgb(233, 233, 233);
    border-bottom: 4px solid #ffc05b;
    display: inline;
    margin-top: 5px; margin-bottom: 5px;
}

.article__view--boldtitle {
    color: #ffc05b;
    padding-top: 30px;
    text-align: justify;
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 25px;
    font-family: 'Lemonada', cursive;
    padding-top: 5px; padding-bottom: 5px;
}

.article__view--precontent {
    color: #fff;
    padding-top: 30px;
    text-align: justify;
    font-style: italic;
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 25px;
    font-family: 'Lemonada', cursive;
    padding-bottom: 0px;
}

.article__view--content {
    color: #fff;
    padding-top: 30px;
    text-align: justify;
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 25px;
    font-family: 'Lemonada', cursive;
    padding-top: 0px; padding-bottom: 0px;
}

.article__view--container-img img{
    display: flex;
    text-align: center;
    margin-left: auto; margin-right: auto;
}

.article__view--img-cs1 {
    margin-top: 50px;
}

.article__view--img-cs3 {
    margin-bottom: 50px;
}

.article__view--imgE {
    width: 50%;
    height: auto;
}