* {
    box-sizing: border-box;
}

body, html {
    margin : 0;
    padding: 0;
    font-family: 'Passion One', cursive;
    
}

.container {
    width: 90%;
    margin: auto;
    position: relative;
    z-index: 999;
}