.header {
    height: 450px;
    width: 100%;
    position: relative;
    background: rgb(62, 58, 107);
}

.header__texture {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    background: url('../img/salle.jpg') center no-repeat;
    background-size: cover;
    z-index: 1;
    opacity: 0.5;
    
}

.header__mask {
    position: absolute;
    bottom: 0;
    background: 0 0;
    height: 42px;
    width: 100%;
    z-index: 10;
}

.header__navbar {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    max-width: 100%;
    height: auto;
}

.header__navbar--menu-link {
    margin-left: 40px;
    color: white;
    text-decoration: none;
}

.header__slogan {
    text-align: center;
    margin-top: 20px;
}

.header__slogan--image {
    position: relative;
    width: 60%;
    height: auto;
}

.header__slogan--button {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    color: white;
    text-decoration: none;
    font-family: 'Lemonada', cursive;
    font-size: 15px;
    padding: 10px 15px;
    background: #e67e22;
    border-radius: 10px;
}

.header__slogan--button-place {
    margin-top: 40px;
}

.header__navbar--toggle {
    width: 40px;
    height: 60px;
    display: flex;
    align-items: center;
    display: none;
    cursor: pointer;
}

.header__navbar--toggle-icons, .header__navbar--toggle-icons:before, .header__navbar--toggle-icons:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: white;
    position: relative;
}

.header__navbar--toggle-icons:before {top: 10px}
.header__navbar--toggle-icons:after {top: -14px}

.is-open .header__navbar--menu {
    transform: translateY(0);
}

@media only screen and (max-width: 1100px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }

    /*.header__slogan--image {
        display: none;
    }*/
    
    .header__navbar--toggle {
        display: flex;
        z-index: 1000;
    }

    .header__navbar--menu {
        transition: all 0.3s ease-in-out;
        transform: translateY(-100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100vw;
        height: 100vh;
        background : #f39c12;
        top: 0; left: 0;
    }

    .header__navbar--menu-link {
        margin: 20px 0;
        font-size: 24px;
    }

    .header__slogan {
        margin-top: 60px;
    }

    .header__slogan--title {
        font-size: 30px;
    }
}